html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  /*c
   * CSS image reference example.
   */
}

h1 {
  text-align: center;
  font-size: 40px;
}
.country {
  display: flex;
  width: 600px;
}
.countries {
  width: 600px;
}
.country-info {
  margin-right: 50px;
}
p > span {
  font-weight: bold;
}
.noticeError {
  margin-left: auto;
}
